{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>{{ recipe.name }}</h1>

        <p>Author: <strong>{{ recipe.author }}</strong></p>
        <p>Date Created: <strong>{{ recipe.created_on }}</strong></p>
        <p>Updated on: <strong>{{ recipe.updated_on }}</strong></p>

        <h2>Ingredients:</h2>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>

        {% if recipe.recipe_images.all %}
            <h2>Images:</h2>
            <div>
                {% for image in recipe.recipe_images.all %}
                    <img src="{{ image.image.url }}" alt="{{ image.description }}">
                {% endfor %}
            </div>
        {% endif %}

        <a href="{% url 'ledger:recipe_image_upload' recipe.pk %}">Upload an Image</a>

        <a href="{% url 'ledger:recipe_list' %}">Back to Recipe List</a>

    {% else %}
        <p>You must be logged in to view the recipe.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}
