{% extends 'base.html' %}

{% block title %}Add Recipe{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Create a New Recipe!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create New Recipe</button>
        </form>
        <a href="{% url 'ledger:recipe_list' %}">Back to Recipe List</a>
    {% else %}
        <p>You must be logged in to add a recipe.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% endblock %}
